@model IEnumerable<KonuYorumCore.DataAccess.Konu>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
				<a asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;|&nbsp;
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;|&nbsp;
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
